<%= form_with(model: jrbook) do |form| %>
  <% if jrbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jrbook.errors.count, "error") %> prohibited this jrbook from being saved:</h2>

      <ul>
        <% jrbook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Book Name" %>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.text_field :author, class:"form-control", placeholder:"Author Name" %>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.label :read %>
    <%= form.check_box :read %>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.text_field :book_rating, class:"form-control", placeholder:"Book Rating" %>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br/>
<% end %>
